body{
	font-family: 'Roboto';
	background-color: #001a33;
	color: #000000;
}

.container-fluid{
	font-family: 'Roboto';
	background-color: #001a33;
	color: #fff;
}

.navbar-default {
  background-color: #000d1a;
  border-color: #000d1a;
  color: #ff4500;
 
}

 
.navbar-default .navbar-brand {
  color: #ff4500;
 
}
 
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: #ff4500;
  color: #fff;
 
}
 
.navbar-default .navbar-text {
 
 font-family: 'Roboto';
  color: #ff4500;
 
}
 
.navbar-default .navbar-nav > li > a {
 
  color: #ff4500;
 
}
 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 
	background-color: #ff4500;
  	color: #fff;
	

 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu {
 
  background-color: #000d1a;	
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
 background-color: #000d1a;
  color: #ff4500;
 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
 
  color: #fff;
 
  background-color: #ff4500;

 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
 
  background-color: #000;
 
}
 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 
  color: #ff4500;
 
  background-color: #000d1a;
 
}
 
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 
  background-color: #fff;
	color: #ff4500;
 
}
 
.navbar-default .navbar-toggle {
 
  border-color: #425766;
 
}
 
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.navbar-default .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.navbar-default .navbar-collapse,
 
.navbar-default .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.navbar-default .navbar-link {
 
  color: #d7e2e9;
 
}
 
.navbar-default .navbar-link:hover {
 
  color: #e5dbdb;
 
}

.description-box
{
	font-family: 'Roboto';
	background-color: #001a33;
	color: #fff;
}

/* 
@media (max-width: 767px) {
 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}*/
